Content/ModSci_Engineer
Content/ModSci_EngiProps
Content/ModSciInteriors
Content/StarterContent
Content/Characters

Saved/Cooked/*
Saved/StagedBuilds/Windows/*
Saved/Temp/Win64/*
Saved/Config/CrashReportClient/*
Saved/Shaders/*
Saved/Logs/*
Saved/Config/CrashReportClient/*
Saved/Config/WindowsEditor/*
